@import "compass/css3/border-radius"

#apps
  margin-top: 40px
  a.app
    position: relative
    height: 80px
    border: 1px solid #dedede
    padding: 10px 80px 10px 10px
    margin-bottom: 20px
    display: block
    color: black
    @include border-radius(5px)
    .name
      font-size: 18px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .category
      display: inline-block
      margin-top: 6px
      background: #e8e8e8
      padding: 2px 6px
      @include border-radius(10px)
    img
      position: absolute
      right: 10px
      top: 10px
      max-height: 57px
      @include border-radius(10px)
    &:hover, &:focus
      text-decoration: none
      background: #f9f9f9
      cursor: pointer