@import "compass/css3/border-radius"

#apps
  margin-top: 40px
  #app-form
    margin-bottom: 20px
    .actions
      text-align: right
      button
        margin-left: 8px
    input
      margin-bottom: 10px
  #app-search
    position: relative
    margin-bottom: 20px
    input
      @include border-radius(20px)
    i
      position: absolute
      top: 5px
      right: 14px
      font-size: 22px
      color: #9e9e9e
  .app-wrapper
    position: relative
    a.app
      position: relative
      height: 100px
      border: 1px solid #dedede
      padding: 10px 100px 10px 10px
      margin-bottom: 20px
      display: block
      background: #f9f9f9
      @include border-radius(5px)
      .name
        color: black
        font-size: 18px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      .category
        display: inline-block
        margin-top: 6px
        background: #8e8e8e
        color: white
        padding: 2px 6px
        @include border-radius(24px)
      img
        position: absolute
        right: 10px
        top: 10px
        max-height: 78px
        @include border-radius(10px)
      &.highlight
        background: #fbf5d3
      &:hover, &:focus
        text-decoration: none
        background: #f2f2f2
        cursor: pointer
        &.highlight
          background: #fbf5d3
    .actions
      position: absolute
      bottom: 8px
      left: 10px
      .remove
        color: #a2a2a2
        text-decoration: underline
        &:hover, &:focus
          cursor: pointer